@model Molina.Feature.PageContent.Models.AuthorDetails

<div>
    @Model.AuthorName
</div>
<div>
    @Model.AuthorAge
</div>
<div>
    @Model.AuthorDesignation
</div>
<div>
    @Model.AuthorSpeciality
</div>
<div>
    @Model.AuthorImage
</div>
